src/configuration_files/deviceconfig.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT DEVICECONFIGURATION (DESCRIPTION,DEVCLASS,REG*)>

<!ELEMENT DESCRIPTION (NAME,VERSION,AUTHOR,COMPANY,DATE,OBS)>

<!ELEMENT NAME (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT COMPANY (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT OBS (#PCDATA)>


<!ELEMENT DEVCLASS EMPTY>
<!ELEMENT REG (#PCDATA)>

<!ATTLIST DEVCLASS name CDATA #REQUIRED number CDATA #REQUIRED>

